<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fifka blog</title>
</head>
<body>
<div>
            <h1><a href="/">Nauka</a></h1>
        </div>
<br>
        <div>
            <h2><a href="">Pierwsza lekcja</a></h2>
            <p><b>napisane coś po hiszpańsku</b></p>
            <p>publikacja: 03.05.2020. 18:57</p>
        </div>

        <div>
            <h2><a href="">Druga lekcja</a></h2>
            <p><b>tu też coś po hiszpańsku</b></p>
            <p>publikacja: 04.05.2020. 17:14</p>
        </div>

</body>
</html>